
 <div class="row">
    <div class="col-lg-4 mx-auto">
        <table class="table table-striped table-bordered border-primary table-sm table-hover">
            <thead class="table-dark">
                <tr>
                    <th >app application list</th>
                    <th > app-loan-application</th>
                </tr>
            </thead>
             <tbody>
                <tr>
                    <td>
                        <app-application-list></app-application-list>
                    </td>
                    <td>
                        <!-- <router-outlet></router-outlet>   -->
                        <app-loan-application></app-loan-application>
                    </td>
                </tr>
                <tr>
                    <td>
                        <app-application-list></app-application-list>
                    </td>
                    <td>
                        <!-- <router-outlet></router-outlet>   -->
                        <app-loan-application></app-loan-application>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
